.shader-header-registrations {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}
.shader-registration-left{
  padding: 10px 0 30px 50px;
}
.shader-registration-left h1{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}
.shader-registration-left ul{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  font-size: 15px;
  list-style: none;
}
.shader-registration {
  margin-right: 30px;
  padding: 0 50px 20px 0;
}
.shader-registration-right{
  font-size: 15px;
}

.top-new-registration{
  display: flex;
}

.registration-form{
  margin-right: 10px;
  padding: 10px;
}

.registration-actions{
  margin-right: 120px;
  margin-top: 180px;
}

.registration-btn{
  padding: 5px 10px;
}