.shader-header-registrations {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}
.shader-registration-left{
  padding: 10px 0 30px 50px;
}
.shader-registration-left h1{
  font-size: 30px;
  margin-bottom: 10px;
}
.shader-registration-left ul{
  padding-left: 10px;
  font-size: 15px;
}
.shader-registration {
  margin-right: 30px;
  padding: 0 50px 20px 0;
}
.shader-registration-right{
  padding: 120px 80px 0 0;
  font-size: 30px;
}