.my-page{
  padding: 30px;
  height: 100vh;
  width: calc( 100% - 100px );
}

.my-page h1{
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 200;
}

.my-page h2{
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 200;
  border-bottom: 2px solid orange;
}

.my-indexes{
  background-color: rgb(252, 233, 198);
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.my-index{
  padding: 10px;
}

.my-post-header{
  display: flex;
}

.my-post-edit{
  padding: 0 0 0 30px;
}

.my-post-delete{
  padding: 0 10px;
}

.my-post-body{
  display: flex;
}

.my-post-title{
  padding: 0 10px;
}

.my-post-cate{
  padding: 0 10px;
}