<div class="shader-header-registrations">
  <div class="shader-registration-left">
    <h1>ようこそ!EN2アプリへ！</h1>
    <p>EN2アプリはエンジニアによるエンジニアのための検索エンジンとなる学習補助アプリです。</p>
    <ul>
      <li>機能1：学習した内容を投稿（アウトプット）することで知識の定着をサポートします。</li>
      <li>機能2：カテゴリー・キーワード検索により過去に投稿した欲しい記事をピンポイントで検索できます。</li>
      <li>機能3：開発に行き詰まった時、他ユーザーが投稿した記事を検索し参考にすることができます。</li>
    </ul>
    <P>さあ、会員登録して記事を投稿してみましょう！</p>
  </div>
  <div class="shader-registration-right">
    <%= link_to '⇨  新規会員登録ページへGO！！', new_user_registration_path %>
  </div>
</div>