<%= render "shared/header" %>
<% unless  user_signed_in? %>
  <%= render "shared/registrations" %>
<% end %>
<div class="posts-index">
  <div class="post">
    <p>ユーザーネーム 2021年09月10日</p>
    <p>タイトル              お気に入り(btn)</p>
    <p>Ruby,Ruby on Rails,</p>

    <p>ユーザーネーム 2021年09月10日</p>
    <p>タイトル              お気に入り(btn)</p>
    <p>Ruby,Ruby on Rails,</p>

    <p>ユーザーネーム 2021年09月10日</p>
    <p>タイトル              お気に入り(btn)</p>
    <p>Ruby,Ruby on Rails,</p>
  </div>
  <div class="post-pick">
    <p>最もお気に入りされている記事</p>
    <p>記事名（タイトル）お気に入りされている数</p>
  </div>
</div>