.posts-index {
  background-color: #f6f6f4;
  height: 100%;
  display: flex;
  justify-content: center;
}
.post, .post-pick {
  background-color: white;
  height: 100vh;
  margin-top: 30px;
}
.post {
  width: 40%;
}
.post-pick {
  margin-left: 20px;
  width: 30%;
}
