.message{
  padding: 20px 0 5px 100px;
  font-size: 25px;
  background-color: #f6f6f4;
  
}
.posts-index {
  background-color: #f6f6f4;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.post-pick {
  margin-left: 20px;
  width: 30%;
  height: 100vh;
  background-color: rgb(252, 233, 198);
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #999;
}
.pagination > li > a:hover {
  color: orange;
  background-color: white;
}
.pagination > .active > a {
  color: orange;
  background-color: white;
}
.pagination > .active > a:hover {
  background-color: white;
  color: orange;
}
/* --ページネーション */